/*!
 * Copyright © 2026 GUIHO Technologies as represented by Cristóvão GUIHO
 * All Rights Reserved.
 */

.suraia-number-formatter {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
