/*!
* Copyright © 2026 GUIHO Technologies as represented by Cristóvão GUIHO
* All Rights Reserved.
*/

.mantine-SegmentedControl-root {
  background-color: var(--gray-2);
}

/* [data-theme='dark'] .mantine-Input-input { */
  /*
    This was causing select to become white in dark mode - see: https://org.guiho.co/settings 
    background-color: var(--gray-2);
  */ 
/* } */

[data-theme='light'] .mantine-SegmentedControl-root {
  background-color: var(--gray-2);
}

[data-theme='dark'] .mantine-SegmentedControl-label[data-active],
[data-theme='dark'] .mantine-FloatingIndicator-root {
  background-color: var(--dark-4);
}

[data-theme='dark'] .mantine-Accordion-item[data-active],
[data-theme='dark'] .mantine-Menu-dropdown,
[data-theme='dark'] .mantine-Card-root {
  background-color: var(--dark-6);
}

[data-theme='dark'] .mantine-Drawer-header,
[data-theme='dark'] .mantine-Drawer-content {
  background-color: var(--dark-6) !important;
}
