/*!
* Copyright © 2026 GUIHO Technologies as represented by Cristóvão GUIHO
* All Rights Reserved.
*/

:root,
#guiho {
  --rem: calc(1rem / 16);
  --toRem: var(--rem);
  --pxToRem: var(--rem);

  --z-mobile-bar: 10;
  --z-header: 10;
  --z-cookies: 20;
  --z-notification: 30;

  --panel-width-collapsed: 72px;
  --panel-width-open: 240px;
}
