<!-- Suraia Timeline Component Blueprint -->
<div class="suraia-timeline" data-suraia-component="Timeline" data-suraia-align="left" style="--suraia-timeline-bullet-size: 20px;">
  <!-- Item 1 -->
  <div class="suraia-timeline-item" data-suraia-active="true" data-suraia-line-active="true">
    <div class="suraia-timeline-bullet">1</div>
    <div class="suraia-timeline-content">
      <div class="suraia-timeline-title">Event 1</div>
      <div class="suraia-timeline-body">Description of event 1</div>
    </div>
  </div>

  <!-- Item 2 -->
  <div class="suraia-timeline-item" data-suraia-active="false" data-suraia-line-active="false">
    <div class="suraia-timeline-bullet">2</div>
    <div class="suraia-timeline-content">
      <div class="suraia-timeline-title">Event 2</div>
      <div class="suraia-timeline-body">Description of event 2</div>
    </div>
  </div>
</div>
