<!-- Suraia Rating Component Blueprint -->
<div
  class="suraia-rating"
  data-suraia-component="Rating"
  data-suraia-size="md"
  role="radiogroup"
  aria-label="Rating Selector"
  tabindex="0"
>
  <div class="suraia-rating-item" data-suraia-active>
    <div class="suraia-rating-symbol">
      <svg class="suraia-rating-symbol-background" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
      <div class="suraia-rating-symbol-filled" style="width: 100%;">
        <svg viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
      </div>
    </div>
  </div>

  <div class="suraia-rating-item" data-suraia-active>
    <div class="suraia-rating-symbol">
      <svg class="suraia-rating-symbol-background" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
      <div class="suraia-rating-symbol-filled" style="width: 50%;">
        <svg viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
      </div>
    </div>
  </div>

  <div class="suraia-rating-item">
    <div class="suraia-rating-symbol">
      <svg class="suraia-rating-symbol-background" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
      <div class="suraia-rating-symbol-filled" style="width: 0%;">
        <svg viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
      </div>
    </div>
  </div>
</div>
