<!-- Suraia Radio Component Blueprint -->
<div
  class="suraia-radio-wrapper"
  data-suraia-component="Radio"
  data-suraia-size="sm"
>
  <div class="suraia-radio-inner">
    <input
      type="radio"
      class="suraia-radio-input"
      id="radio-id"
      name="radio-group"
    />
    <span class="suraia-radio-icon" aria-hidden="true"></span>
  </div>

  <div class="suraia-radio-body">
    <label class="suraia-radio-label" for="radio-id">
      Radio label
    </label>
    <p class="suraia-radio-description">Optional description.</p>
  </div>
</div>
