<!-- Suraia Tabs Component Blueprint -->
<div
  class="suraia-tabs"
  data-suraia-component="Tabs"
  data-suraia-variant="default"
  data-suraia-orientation="horizontal"
>
  <!-- Tab list -->
  <div class="suraia-tabs-list" role="tablist" aria-orientation="horizontal">
    <button
      class="suraia-tabs-tab"
      role="tab"
      aria-selected="true"
      aria-controls="panel-1"
      id="tab-1"
      tabindex="0"
    >
      Tab 1
    </button>
    <button
      class="suraia-tabs-tab"
      role="tab"
      aria-selected="false"
      aria-controls="panel-2"
      id="tab-2"
      tabindex="-1"
    >
      Tab 2
    </button>
    <button
      class="suraia-tabs-tab"
      role="tab"
      aria-selected="false"
      aria-controls="panel-3"
      id="tab-3"
      tabindex="-1"
    >
      Tab 3
    </button>
  </div>

  <!-- Tab panels -->
  <div
    class="suraia-tabs-panel"
    role="tabpanel"
    id="panel-1"
    aria-labelledby="tab-1"
  >
    Panel 1 content.
  </div>
  <div
    class="suraia-tabs-panel"
    role="tabpanel"
    id="panel-2"
    aria-labelledby="tab-2"
    hidden
  >
    Panel 2 content.
  </div>
  <div
    class="suraia-tabs-panel"
    role="tabpanel"
    id="panel-3"
    aria-labelledby="tab-3"
    hidden
  >
    Panel 3 content.
  </div>
</div>
