/*!
 * Copyright © 2026 GUIHO Technologies as represented by Cristóvão GUIHO
 * All Rights Reserved.
 */

.suraia-aspect-ratio {
  display: block;
  aspect-ratio: var(--suraia-ratio, 1);
  overflow: hidden;
}

.suraia-aspect-ratio > img,
.suraia-aspect-ratio > video,
.suraia-aspect-ratio > iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
