<!-- Suraia TableOfContents Component Blueprint -->
<nav
  class="suraia-table-of-contents"
  data-suraia-component="TableOfContents"
  role="navigation"
>
  <ul class="suraia-table-of-contents-list">
    <li class="suraia-table-of-contents-item" data-suraia-level="2" data-suraia-active="true">
      <a href="#intro" class="suraia-table-of-contents-link">Introduction</a>
    </li>
    <li class="suraia-table-of-contents-item" data-suraia-level="3">
      <a href="#details" class="suraia-table-of-contents-link">Details</a>
    </li>
  </ul>
</nav>
