<!-- Suraia ScrollArea Component Blueprint -->
<div
  class="suraia-scroll-area"
  data-suraia-component="ScrollArea"
  data-suraia-scrollbar-visibility="hover"
>
  <div class="suraia-scroll-area-viewport">
    <div class="suraia-scroll-area-content">
      <!-- High quantity of contents here -->
    </div>
  </div>
  
  <!-- Custom Scrollbars -->
  <div class="suraia-scroll-area-scrollbar-x" role="none">
    <div class="suraia-scroll-area-thumb-x"></div>
  </div>
  <div class="suraia-scroll-area-scrollbar-y" role="none">
    <div class="suraia-scroll-area-thumb-y"></div>
  </div>
</div>
