<!-- Suraia PinInput Component Blueprint -->
<div class="suraia-pin-input-group" data-suraia-component="PinInput">
  <input class="suraia-pin-input-field" type="text" inputmode="numeric" maxlength="1" value="" />
  <input class="suraia-pin-input-field" type="text" inputmode="numeric" maxlength="1" value="" />
  <input class="suraia-pin-input-field" type="text" inputmode="numeric" maxlength="1" value="" />
  <input class="suraia-pin-input-field" type="text" inputmode="numeric" maxlength="1" value="" />
</div>
