<!-- Suraia Slider Component Blueprint -->
<div
  class="suraia-slider"
  data-suraia-component="Slider"
  data-suraia-size="md"
  role="slider"
  aria-valuenow="40"
  aria-valuemin="0"
  aria-valuemax="100"
  aria-orientation="horizontal"
  tabindex="0"
>
  <div class="suraia-slider-track">
    <div class="suraia-slider-bar" style="width: 40%;"></div>

    <!-- Optional marks -->
    <div class="suraia-slider-mark" style="left: 20%;" data-suraia-filled>
      <span class="suraia-slider-mark-label">20</span>
    </div>
    <div class="suraia-slider-mark" style="left: 50%;">
      <span class="suraia-slider-mark-label">50</span>
    </div>
    <div class="suraia-slider-mark" style="left: 80%;">
      <span class="suraia-slider-mark-label">80</span>
    </div>
  </div>

  <div class="suraia-slider-thumb" style="left: 40%;" tabindex="-1">
    <div class="suraia-slider-label">40</div>
  </div>
</div>
