<!-- Suraia AlphaSlider Component Blueprint -->
<div
  class="suraia-alpha-slider"
  data-suraia-component="AlphaSlider"
  data-suraia-size="md"
  role="slider"
  aria-valuenow="0.5"
  aria-valuemin="0"
  aria-valuemax="1"
  aria-orientation="horizontal"
  tabindex="0"
>
  <div class="suraia-alpha-slider-checkers"></div>
  <div class="suraia-alpha-slider-gradient" style="background-image: linear-gradient(to right, transparent, rgb(0, 128, 255));"></div>
  <div class="suraia-alpha-slider-thumb" style="left: 50%;"></div>
</div>
