/*!
 * Copyright © 2026 GUIHO Technologies as represented by Cristóvão GUIHO
 * All Rights Reserved.
 */

/* prettier-ignore */
/* prettier-ignore */
html, body,
.suraia-root div,            .suraia-root span,           .suraia-root applet,         .suraia-root object,
.suraia-root iframe,         .suraia-root h1,             .suraia-root h2,             .suraia-root h3,
.suraia-root h4,             .suraia-root h5,             .suraia-root h6,             .suraia-root p,
.suraia-root blockquote,     .suraia-root pre,            .suraia-root a,              .suraia-root abbr,
.suraia-root acronym,        .suraia-root address,        .suraia-root big,            .suraia-root cite,
.suraia-root code,           .suraia-root del,            .suraia-root dfn,            .suraia-root em,
.suraia-root img,            .suraia-root ins,            .suraia-root kbd,            .suraia-root q,
.suraia-root s,              .suraia-root samp,           .suraia-root small,          .suraia-root strike,
.suraia-root strong,         .suraia-root sub,            .suraia-root sup,            .suraia-root tt,
.suraia-root var,            .suraia-root b,              .suraia-root u,              .suraia-root i,
.suraia-root center,         .suraia-root dl,             .suraia-root dt,             .suraia-root dd,
.suraia-root ol,             .suraia-root ul,             .suraia-root li,             .suraia-root fieldset,
.suraia-root form,           .suraia-root label,          .suraia-root legend,         .suraia-root table,
.suraia-root caption,        .suraia-root tbody,          .suraia-root tfoot,          .suraia-root thead,
.suraia-root tr,             .suraia-root th,             .suraia-root td,             .suraia-root article,
.suraia-root aside,          .suraia-root canvas,         .suraia-root details,        .suraia-root embed,
.suraia-root figure,         .suraia-root figcaption,     .suraia-root footer,         .suraia-root header,
.suraia-root hgroup,         .suraia-root menu,           .suraia-root nav,            .suraia-root output,
.suraia-root ruby,           .suraia-root section,        .suraia-root summary,        .suraia-root time,
.suraia-root mark,           .suraia-root audio,          .suraia-root video,          .suraia-root button,
.suraia-root *,
.suraia-root *::before,
.suraia-root *::after
{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;

	font: inherit;
	color: inherit;
	font-size: 100%;
	background: none;
	vertical-align: baseline;
	scroll-padding-top: 96px;
	scroll-behavior: smooth;

	user-select: inherit;
	-webkit-tap-highlight-color: transparent !important;
}

.suraia-root *,
.suraia-root *::before,
.suraia-root *::after {
  box-sizing: border-box;
  user-select: inherit;
}

.suraia-root a {
  user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
  cursor: pointer !important;
  text-decoration: none;
}

.suraia-root button {
  cursor: pointer;
}

.suraia-root article,
.suraia-root aside,
.suraia-root details,
.suraia-root figcaption,
.suraia-root figure,
.suraia-root footer,
.suraia-root header,
.suraia-root hgroup,
.suraia-root menu,
.suraia-root nav,
.suraia-root section {
  display: block;
}

.suraia-root body {
  line-height: 1.5;
}

.suraia-root ol,
.suraia-root ul {
  list-style: none;
}

.suraia-root blockquote,
.suraia-root q {
  quotes: none;
}

.suraia-root table {
  border-collapse: collapse;
  border-spacing: 0;
}
