.suraia-root,
.suraia-root * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.suraia-root {
  scroll-padding-top: 96px;
  scroll-behavior: smooth;
}

.suraia-root a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.suraia-root button {
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.suraia-root ol,
.suraia-root ul {
  list-style: none;
}

.suraia-root blockquote,
.suraia-root q {
  quotes: none;
}

.suraia-root table {
  border-collapse: collapse;
  border-spacing: 0;
}
