<div class="suraia-scroller" data-suraia-component="Scroller" data-suraia-orientation="horizontal" data-suraia-can-scroll-forward="true" data-suraia-can-scroll-backward="false">
  <button class="suraia-scroller-control" type="button" data-suraia-direction="previous" aria-label="Scroll previous" disabled>Previous</button>
  <div class="suraia-scroller-viewport">
    <div class="suraia-scroller-track">
      <div class="suraia-scroller-item">Item 1</div>
      <div class="suraia-scroller-item">Item 2</div>
      <div class="suraia-scroller-item">Item 3</div>
    </div>
  </div>
  <button class="suraia-scroller-control" type="button" data-suraia-direction="next" aria-label="Scroll next">Next</button>
</div>
